body{
    display: flex;
   justify-content: center;
    
}

/** -------------------- Game Window --------------------- **/

#game{
    height: 700px;
    width: 500px;
    border: solid black 3px;
    display: flex;
    justify-content: space-evenly;
    position: relative;

}
/** -------------------- User Buttons --------------------- **/
button{
    height: 100px;
    width: 100px;
    margin-top: 575px;
    border-radius: 50%;
}
#btn1{
    background-color: green;
    font-size: xx-large;
    font-weight: bold;
}
#btn2{
    background-color: red;
    font-size: xx-large;
    font-weight: bold;
}
#btn3{
    background-color: yellow;
    font-size: xx-large;
    font-weight: bold;

}
#btn4{
    background-color: blue;
    font-size: xx-large;
    font-weight: bold;
}

/** ------------------------- Notes --------------------------- **/

#greenNote{
    border: black solid 3px;
    position: absolute;
    margin-right: 375px;
    height: 75px;
    width: 75px;
    background-color: lightgreen;
    border-radius: 50%;
}
#redNote{
    border: black solid 3px;
    position: absolute;
    margin-right: 125px;
    height: 75px;
    width: 75px;
    background-color: pink;
    border-radius: 50%;
}
#yellowNote{
    border: black solid 3px;
    position: absolute;
    margin-left: 125px;
    height: 75px;
    width: 75px;
    background-color: lightyellow;
    border-radius: 50%;
}
#blueNote{
    border: black solid 3px;
    position: absolute;
    margin-left: 375px;
    height: 75px;
    width: 75px;
    background-color: lightblue;
    border-radius: 50%;
}
